div.row
    div.col-xs-4
        img.img-reponsive(src="holder.js/200x200")
    div.col-xs-8
        p 
            |this is terry's clinc, for more information go to 
            |<a href="about">about</a>