//- script#nav-template(type="text/template")
nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header            
            a.navbar-brand(href="#") Terry's Clinic
            button.navbar-toggle(type="button",data-toggle="collapse",data-target="#navbar-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        div#navbar-collapse-1.collapse.navbar-collapse
            ul#navbar-list.nav.navbar-nav.pull-right
                li#nav-home: a(href='/') Home
                li#nav-about: a(href='#') About
                li#nav-direciton: a(href='direction') Direction
                li#nav-contact: a(href='#') Contact